.homepage {
    height: 340vh;
    width: 100%;
    background-color: rgb(250, 221, 183);
}

.greeting {
    height: 10vh;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
}

.greet {
    color: white;
}

.choices {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 30%;
}

.choicewheel {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}